.cardHover:hover{
    scale: 101%;
    border: 1px solid rgba(0, 0, 255, 0.457);
}
.card img {
    width: auto;
    margin: auto;
    margin-top: 8px;
    height: 8rem;
}

.card h2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    color: rgb(2, 2, 119);
    font-size: 25px;
    height: 60px;
    margin-top: 10px;
}

.card h3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    color: rgb(7, 7, 119);
    font-weight:530;
    font-size: 20px;
}

.card a {
    margin: auto;
    margin-top: 8px;
}